/* css styles */

/*-- scss:defaults --*/
$primary: #406e52;

.quarto-grid-item .card-title {
    padding-bottom: 1em;
    font-size: 0.85em;
}

.quarto-grid-item code {
    background-color: transparent;
}

