/*-- scss:defaults --*/
// Base document colors
$body-bg: rgb(20, 25, 20);
$body-color: rgba(255, 255, 255, 0.95);

// Code blocks
$code-block-bg-alpha: -.8;

$link-color: #6aab83;

.quarto-grid-item div.post-contents {
    background-color: rgb(10, 15, 10);
}

.quarto-grid-item .card-text {
    color: $body-color;
}

.quarto-grid-item .listing-categories .listing-category {
    color: $body-color;
}

.navbar .quarto-color-scheme-toggle.alternate .bi::before {
    transform: scale(1.25);
}