.rounded {
    border-radius: 2.5% !important;
}

a {
    text-decoration: none;
}

a.about-link {
    width: 7em;
}
@media (max-width: 991.98px) {
    a.about-link {
        width: 16em;
        margin: auto;
    }
}